<div class="bg-white section-shadow py-5">
  <div class="container">
    <h2 class="text-green font-size-40px letter-spacing font-weight-light hyphen-for-title">Le Blog</h2>

    <div class="row my-5">
      <div class="col-12 col-md-4">
        <div class="card mx-auto w-100 my-3">
          <img src="https://images.pexels.com/photos/461035/pexels-photo-461035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card mx-auto w-100 my-3">
          <img src="https://images.pexels.com/photos/1409217/pexels-photo-1409217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card mx-auto w-100 my-3">
          <img src="https://images.pexels.com/photos/461035/pexels-photo-461035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
