<div class="bg-white section-shadow py-5">
  <div class="container">
    <h2 class="text-green font-size-40px letter-spacing font-weight-light">- Le Blog -</h2>

    <div class="row my-5">
      <% BlogArticle.first(3).each do |blog_article|%>
        <div class="col-12 col-md-4">
          <div class="card mx-auto w-100 my-3">
            <%= link_to "", blog_path(blog_article), class: "link_invisible" %>
            <%= default_photo(blog_article.cover_picture, 'card-img-top', blog_article.title) %>
            <div class="card-body">
              <h3 class="font-size-16px"><%= blog_article.title %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
