<div class="bg-white">
  <div class="container py-5">
    <div class="d-none d-sm-block">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval= "500000">
        <div class="carousel-inner w-75 mx-auto height-carousel-home d-flex align-items-center">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-12 col-md-5">
                <div class= 'frame-green frame-220px-responsive marginy-20px  d-flex align-items-center text-white text-center mx-auto'>
                  <div>
                    <p class="font-size-40px font-weight-thin">Ludoria</p>
                    <p class='font-size-24px-responsive font-weight-light font-italic'>Votre modéliste à domicile.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-7">
                <div class="row marginy-20px text-center font-weight-light margin-top-steps-home">
                  <div class="col-12 col-sm-4">
                    <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-tshirt text-white"></i></div>
                    <p class= "max-width-105px mx-auto text-blue mt-3">Je choisis mon patron</p>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-ruler text-white"></i></div>
                    <p class= "max-width-105px mx-auto text-blue mt-3">Je prends et je stock mes mesures</p>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-file-pdf text-white"></i></div>
                    <p class= "max-width-105px mx-auto text-blue mt-3">Je reçois et j'imprime mon patron PDF sur mesure</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="carousel-quote d-none d-lg-block">“</div>
              <div class="item-carousel-2 text-center text-green font-weight-light">
                <h2 class='font-weight-light font-size-16px font-italic'>Pour que les <span class="font-size-40px">patrons de couture</span></h2>
                <p class='font-weight-light font-italic'>n'aient plus qu'<span class="font-size-30px mb-0 font-weight-normal">une seule taille</span></p>
                <p class="font-size-80px font-weight-thin font-italic">la vôtre</p>
              </div>
              <div class="carousel-quote d-none d-lg-block">”</div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="flip-card mx-auto">
                  <div class="flip-card-inner">
                    <div class="flip-card-front d-flex align-items-center frame-160px frame-green text-white">
                      <p>Des patrons sur-mesure</p>
                    </div>
                    <div class="flip-card-back d-flex align-items-center frame-160px frame-white-border-blue text-blue">
                      <p>Un patron sur-mesure, unique, défini pour et par vos mensurations</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="flip-card mx-auto">
                  <div class="flip-card-inner">
                    <div class="flip-card-front d-flex align-items-center frame-160px frame-white-border-green text-green">
                      <p>Une présentation professionnelle</p>
                    </div>
                    <div class="flip-card-back d-flex align-items-center frame-160px frame-blue text-white">
                      <p>Présentation et imbrications professionnelles des patrons</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="flip-card mx-auto">
                  <div class="flip-card-inner">
                    <div class="flip-card-front d-flex align-items-center frame-160px frame-green text-white">
                      <p>Un suivi dans votre avancement</p>
                    </div>
                    <div class="flip-card-back d-flex align-items-center frame-160px frame-white-border-blue text-blue">
                      <p>Prise de mesures et assemblage guidés pas à pas</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-3">
                <div class="flip-card mx-auto">
                  <div class="flip-card-inner">
                    <div class="flip-card-front d-flex align-items-center frame-160px frame-white-border-green text-green">
                      <p>Une mise-à-jours continuelle</p>
                    </div>
                    <div class="flip-card-back d-flex align-items-center frame-160px frame-blue text-white">
                      <p class="mb-0">Des modèles régulièrement renouvelés et mis à jours, pour s'adapter au mieux à votre corps</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="fa fa-caret-left fa-4x text-green"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="fa fa-caret-right fa-4x text-green"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="d-block d-sm-none">
      <div class="row text-center">
        <div class="col-6 mb-3">
          <div class= 'frame-green mw-100 frame-140px marginy-20px d-flex align-items-center text-white text-center mx-auto'>
            <div>
              <p class="font-size-24px font-weight-thin">Ludoria</p>
              <p class='font-weight-light font-italic'>Votre modéliste à domicile.</p>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center mb-3">
          <div class="text-green text-center">
            <h2 class='font-weight-light font-size-16px font-italic mb-0'>Pour que les patrons de couture</h2>
            <p class='font-weight-light font-size-16px font-italic mb-0'>n'aient plus qu'une seule taille</p>
            <p class="font-size-24px font-weight-thin font-italic">la vôtre</p>
          </div>
        </div>
        <div class="col-4">
          <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-tshirt text-white"></i></div>
          <p class= "max-width-105px mx-auto text-blue font-size-12px mt-3">Je choisis mon patron</p>
        </div>
        <div class="col-4">
          <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-ruler text-white"></i></div>
          <p class= "max-width-105px mx-auto text-blue font-size-12px mt-3">Je prends et je stock mes mesures</p>
        </div>
        <div class="col-4">
          <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-file-pdf text-white"></i></div>
           <p class= "max-width-105px mx-auto text-blue font-size-12px mt-3">Je reçois et j'imprime mon patron PDF sur mesure</p>
        </div>
      </div>
    </div>
  </div>
</div>
