<div class="bg-white">
  <div class="container py-2">
    <div class="d-none d-md-block">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval= "500000">
        <div class="carousel-inner w-75 mx-auto height-carousel-home d-flex align-items-center">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-12 col-lg-4 mb-2">
                <div class= 'frame-green frame-160px marginy-20px  d-flex align-items-center text-white text-center mx-auto'>
                  <div>
                    <p class="font-size-30px font-weight-thin">Ludoria</p>
                    <p class='font-size-16px-responsive font-weight-light font-italic'>Votre modéliste à domicile.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-8">
                <div class="row text-center font-weight-light margin-top-steps-home text-blue">
                  <div class="col-12 col-md-4">
                    <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-tshirt text-white"></i></div>
                    <p class= "max-width-105px font-size-14px mx-auto text-blue mt-3">Ludoria le Sur Mesure chez vous.</p>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-ruler text-white"></i></div>
                    <p class= "max-width-105px font-size-14px mx-auto text-blue mt-3">Je prends et je stocke mes mesures</p>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-file-pdf text-white"></i></div>
                    <p class= "max-width-105px font-size-14px mx-auto text-blue mt-3">Je reçois et j'imprime mon patron PDF sur mesure</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="carousel-quote d-none d-md-block">“</div>
              <div class="item-carousel-2 text-center text-green font-weight-light">
                <p class='font-weight-light font-size-16px font-italic'>Pour que les <span class="font-size-30px">patrons de couture</span></p>
                <p class='font-weight-light font-italic'>n'aient plus qu' <span class="font-size-24px mb-0 font-weight-normal">une seule taille</span></p>
                <p class="font-size-48px font-weight-thin font-italic">la vôtre</p>
              </div>
              <div class="carousel-quote d-none d-md-block">”</div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row carousel-cards-width mx-auto">
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="flip-card mx-auto">
                  <div class="flip-card-inner">
                    <div class="flip-card-front px-1 justify-content-center d-flex align-items-center frame-140px frame-green text-white">
                      <div>
                        <p class= "mb-0">Des patrons</p>
                        <p>sur-mesure</p>
                      </div>
                    </div>
                    <div class="flip-card-back px-1 d-flex align-items-center frame-140px frame-white-border-blue text-blue">
                      <p>Un patron sur-mesure, unique, défini pour et par vos mensurations</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="flip-card mx-auto">
                  <div class="flip-card-inner">
                    <div class="flip-card-front px-1 d-flex align-items-center frame-140px frame-white-border-green text-green">
                      <p>Une présentation professionnelle</p>
                    </div>
                    <div class="flip-card-back px-1 d-flex align-items-center frame-140px frame-blue text-white">
                      <p>Présentation et imbrications professionnelles des patrons</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="flip-card mx-auto">
                  <div class="flip-card-inner">
                    <div class="flip-card-front px-1 d-flex align-items-center frame-140px frame-green text-white">
                      <p>Un suivi dans votre avancement</p>
                    </div>
                    <div class="flip-card-back px-1 d-flex align-items-center frame-140px frame-white-border-blue text-blue">
                      <p>Prise de mesures et assemblage guidés pas à pas</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="flip-card mx-auto">
                  <div class="flip-card-inner">
                    <div class="flip-card-front px-1 d-flex align-items-center frame-140px frame-white-border-green text-green">
                      <p>Une mise-à-jours continuelle</p>
                    </div>
                    <div class="flip-card-back px-1 d-flex align-items-center frame-140px frame-blue text-white">
                      <p class="mb-0">Des modèles régulièrement renouvelés et mis à jours, pour s'adapter au mieux à votre corps</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="fas fa-chevron-left fa-2x text-green"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="fas fa-chevron-right fa-2x text-green"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="d-block d-md-none">
      <div class="row text-center mt-2">
        <div class="col-6 mb-3">
          <div class= 'frame-green mw-100 frame-140px marginy-12px d-flex align-items-center text-white text-center mx-auto'>
            <div>
              <p class="font-size-24px font-weight-thin">Ludoria</p>
              <p class='font-weight-light font-italic'>Votre modéliste à domicile.</p>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center mb-3 pl-0">
          <div class="d-flex">
            <div class="font-size-80px text-green carousel-quote">“</div>
          <div class="text-green text-center">
            <p class='font-weight-light font-size-16px font-italic mb-0'>Pour que les patrons de couture</p>
            <p class='font-weight-light font-size-16px font-italic mb-0'>n'aient plus qu'une seule taille</p>
            <p class="font-size-24px font-weight-thin font-italic">la vôtre</p>
          </div>
          </div>
        </div>
        <div class="col-4">
          <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-tshirt text-white"></i></div>
          <p class= "max-width-105px mx-auto text-blue font-size-12px mt-3">Je choisis mon patron</p>
        </div>
        <div class="col-4">
          <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-ruler text-white"></i></div>
          <p class= "max-width-105px mx-auto text-blue font-size-12px mt-3">Je prends et je stocke mes mesures</p>
        </div>
        <div class="col-4">
          <div class="frame-50px circle bg-green mx-auto d-flex justify-content-center align-items-center"><i class="fa fa-file-pdf text-white"></i></div>
           <p class= "max-width-105px mx-auto text-blue font-size-12px mt-3">Je reçois et j'imprime mon patron PDF sur mesure</p>
        </div>
      </div>
    </div>
  </div>
</div>
