<div class="footer-wrapper">
  <div class="footer text-white text-center">
      <div class="d-flex align-items-center justify-content-center footer-title">
        <h2 class="font-size-48px font-weight-normal">Ludoria</h2>
      </div>

    <div class="container">

      <div class="d-flex justify-content-between container-footer-columns">

        <div class= "width-33 d-flex justify-content-start">
          <div class="text-left">
            <p class="mb-3 footer-column-title">LA MAISON LUDORIA</p>
            <ul>
              <li><a href="#"class="text-white">Les collections</a></li>
              <li><a href="#"class="text-white">Vos mesures</a></li>
              <li><a href="#"class="text-white">le blog</a></li>
              <li><a href="#"class="text-white">Notre identité</a></li>
              <li><a href="#"class="text-white">Les tarifs</a></li>
            </ul>

          </div>
        </div>
        <div class= "width-33 d-flex justify-content-center margin-x-05">
          <div class="text-left">
            <p class="mb-3 footer-column-title">SERVICES</p>
            <ul>
              <li><a href="#"class="text-white">Mon compte</a></li>
              <li><a href="#"class="text-white">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class= "width-33 d-flex justify-content-end">
          <div class="text-left">
            <p class="mb-3 footer-column-title">LEGAL</p>
            <ul>
              <li><a href="#"class="text-white">Mentions légales</a></li>
              <li><a href="#"class="text-white">Données personneles</a></li>
              <li><a href="#"class="text-white">CGU</a></li>
              <li><a href="#"class="text-white">CGV</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-footer-form">
    <div class="border-top-white-transparent footer-form">
    </div>
    </div>
  </div>
</div>
