<%= content_for :meta_title, "Ludoria: Agenda" %>
<%= content_for :meta_description, "" %>
<%= content_for :meta_keywords, "" %>


<div class="bg-white section-shadow py-4">
  <div class="container page-min-height">
    <h1 class="text-green letter-spacing font-title font-weight-light mb-3">- Agenda -</h1>
    <div class="container-fluid px-4 text-dark-grey font-size-14px font-weight-light">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptates iure, amet repudiandae, natus quasi nesciunt? Odio, aut quidem possimus culpa animi. Libero, quibusdam porro dolorem, tenetur rerum sequi labore!</p>
      <div class="row my-4 text-center font-size-14px text-dark-grey">
        <%= render @events %>
      </div>

    </div>
  </div>

</div>

