<div class="bg-white section-shadow py-5">
  <div class="container">
    <h1 class="text-green font-title letter-spacing font-weight-light">- La Maison Ludoria -</h1>
    <div class="row mt-4">

      <div class="col-12 col-lg-3">
        <div class="row">

          <div class="col-12 col-md-4 col-lg-12 d-flex justify-content-center">
            <div class="position-relative frame-180px m-2">
              <div class="hover-hide position-full position-absolute bg-green">
                <div class="bg-green border-dashed-white margin-10px frame-160px text-white d-flex align-items-center justify-content-center text-center  px-2">
                  <p class="font-size-20px mb-0 font-weight-light">un souhait</p>
                </div>
              </div>
              <div class="hover-show position-full position-absolute bg-white border-green">
                <div class="border-dashed-green bg-white margin-10px frame-160px text-green d-flex align-items-center justify-content-center text-center px-2">
                  <p class="font-size-14px mb-0 font-weight-light">Habiller Sur Mesure toutes les femmes, quelles que soient leurs spécificités corporelles.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-12 d-flex justify-content-center">
            <div class="position-relative frame-180px m-2">
              <div class="hover-hide position-full position-absolute bg-green">
                <div class="bg-green border-dashed-white margin-10px frame-160px text-white d-flex align-items-center justify-content-center text-center  px-2">
                  <p class="font-size-20px mb-0 font-weight-light">une envie</p>
                </div>
              </div>
              <div class="hover-show position-full position-absolute bg-white border-green">
                <div class="border-dashed-green bg-white margin-10px frame-160px text-green d-flex align-items-center justify-content-center text-center px-2">
                  <p class="font-size-14px mb-0 font-weight-light">Proposer une gamme de patrons de couture, élégants, confortables et facilement portables en toute occasion</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-12 d-flex justify-content-center">
            <div class="position-relative frame-180px m-2">
              <div class="hover-hide position-full position-absolute bg-green">
                <div class="bg-green border-dashed-white margin-10px frame-160px text-white d-flex align-items-center justify-content-center text-center  px-2">
                  <p class="font-size-20px mb-0 font-weight-light">un engagement</p>
                </div>
              </div>
              <div class="hover-show position-full position-absolute bg-white border-green">
                <div class="border-dashed-green bg-white margin-10px frame-160px text-green d-flex align-items-center justify-content-center text-center px-2">
                  <p class="font-size-14px mb-0 font-weight-light">Faire des patrons d’une grande lisibilité pour faciliter vos sessions de couture</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        <div class="d-flex flex-column align-items-end justify-content-end h-100 p-3">
          <div class="text-right mb-5">
            <p class= "font-italic font-size-20px">“ Le Sur Mesure chez vous, pour que seul reste le plaisir de coudre “</p>
            <p class="font-size-12px">Sophie PARENTEAU - fondatrice</p>
          </div>
          <%= image_tag 'maison-ludoria.png', alt: "couturière", class: 'w-100' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white section-shadow py-5">
  <div class="container">
    <h2 class="text-green font-size-40px letter-spacing font-weight-light hyphen-for-title">Nos patrons sur mesure</h2>
    <div class="my-5 font-weight-light">
      <div class="text-left max-width-700px">
        <h3 class="text-green font-weight-light">Une présentation de patron comme chez les pros</h3>
        <ul class="text-dark-grey">
          <li>Une seule taille : la votre</li>
          <li>De nombreuses indications techniques sur les patrons pour encore plus de lisibilité et de facilité de montage</li>
          <li>Votre patron Format PDF à télécharger</li>
          <li>Des instructions de montage claires et détaillées.</li>
        </ul>
      </div>
      <div class="text-right max-width-700px ml-auto">
        <h3 class="text-green font-weight-light">De l’innovation encore et toujours</h3>
        <p class="text-dark-grey mb-0">Le logiciel Ludoria est intégralement développé en France. Il permet la mise à vos mesures sur tous nos modèles.</p>
        <p class="text-dark-grey">Notre logiciel est continuellement mis à jour pour vous proposer des modèles toujours plus ajustés à votre morphologie propre</p>
      </div>
      <div class="text-left max-width-700px">
        <h3 class="text-green font-weight-light">Des nouveaux modèles juste pour vous</h3>
        <p class="text-dark-grey">Nous lançons régulièrement de nouveaux modèles pour enrichir notre collection que nous vous laisserons découvrir au fil des saisons.</p>
      </div>
    </div>
  </div>
</div>

