.button-patterns {
  background: rgba(225, 225, 239, 0.8);
  padding: 5px 30px;
  border: 1px solid rgba(140, 142, 160, 0.4);
  border-radius: 20px;
  color: $dark-grey;
  &:hover {
    text-decoration: none;
    color: $dark-grey;
  }
}
.button-large-green {
 padding: 10px 50px;
 border-radius: 20px;
 color: $white;
 background-color: $green;
 &:hover {
    text-decoration: none;
    color: $white;
    background-color: $dark-green;
  }
}
.button-small-green {
 padding: 5px 20px;
 border-radius: 20px;
 color: $white;
 background-color: $green;
 &:hover {
    text-decoration: none;
    color: $white;
    background-color: $dark-green;
  }
}
.button-white {
  padding:  10px 20px;
  background: $white;
  border-radius: 20px;
  color: $green;
}
.form-control:focus {
  border-color: rgba(85, 158, 150, 0.6) !important;
  box-shadow: 0 0 0 0.1rem rgba(85, 158, 150, 0.5) !important;
}
input.focus-grey.form-control:focus {
  border-color: #d3d5e2 !important;
  box-shadow: 0 0 0 0.1rem rgba(211, 213, 226, 0.8) !important;
}

