.frame-green {
  background: $green;
  border: 2px dashed $white;
  outline: $green solid 10px;
}
.frame-white-border-green {
  background: $white;
  border: 2px dashed $green;
  outline: $green solid 2px;
  outline-offset: 8px;
}
.frame-blue {
  background: $blue;
  border: 2px dashed $white;
  outline: $blue solid 10px;
}
.frame-white-border-blue {
  background: $white;
  border: 2px dashed $blue;
  outline-offset: 8px;
  outline: $blue solid 2px;
}
.frame-50px {
  height: 50px;
  width: 50px;
}
.frame-60px {
  height: 60px;
  width: 60px;
}
.frame-140px {
  width: 140px;
  height: 140px;
}
.frame-160px {
  height: 160px;
  width: 160px;
}
.frame-220px-responsive {
  height: 220px;
  width: 220px;
  @media (max-width: 991px){
    height: 180px;
    width: 180px;
  }
}
.frame-250px {
  width: 250px;
  height: 250px;
}
.frame-300px{
  height: 300px;
  width: 300px;
}
.frame-log-in {
  height: 380px;
  width: 380px;
}
.frame-opacity-on-hover {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  background: rgba(245, 246, 246, 0.8);
  &:hover {
    opacity:1;
  }
}
.video-frame {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 1%;
  height: 0;
  overflow: hidden;
}
.video-frame iframe,
.video-frame object,
.video-frame embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
