.table-border-right-bottom {
  th, td {
    color: $blue;
    font-weight: 300;
    border-bottom: 1px solid $blue;
    border-right: 1px solid $blue;
    padding: 10px
  }
}
table {
  .form-group {
    margin-bottom: 0px;
  }
}
