<div class="card text-center position-relative">
  <%= link_to "", blog_path(blog_article), class: "link_invisible" %>
  <% unless blog_article.cover_picture.file.nil? %>
    <%= default_photo(blog_article.cover_picture, 'card-img-top', blog_article.title) %>
  <% end %>
  <div class="card-body">
    <h3 class="card-title font-size-12px-lg-16px text-dark-grey font-weight-regular"><%= blog_article.title %></h3>
  </div>
</div>
