<div class="page-min-height">
  <div class="container py-5">
    <h1 class="text-green font-size-40px letter-spacing font-weight-light">Le Blog</h1>

    <div class="card-columns my-5">
      <%= render @articles %>
    </div>
  </div>
</div>
