@import 'activeadmin_addons/all';
@import 'formadmin/formadmin';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";



img {
  max-width: 200px;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

body {
  font: normal 16px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

#active_admin_content {
  background-color: #EEEEEE;
}

.breadcrumb {
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 5px !important;
  background-color: #FFFFFF !important;
  a {
    color: black !important;
    opacity: 0.75;
  }
}

#page_title {
    font-size: 42px !important;
    font-weight: 100 !important;
    line-height: 1 !important;
    margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font: bold 1em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.admin-wrapper {
  width: 100%;
}

.admin-cards {
  display: flex;
  justify-content: left;
}

.admin-card {
  border: 1px solid grey;
  box-shadow: 1px 1px 10px grey;
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  margin: 1px 5px;
  width: 200px;
  position: relative;

}

.admin-links {
  position: absolute;
  top: 5px;
  right: 5px;
  a {
    text-decoration: none;
    color: black;
    opacity: 0.75;
    &:hover {
    text-decoration: none;
    opacity: 1;
    }
  }
  button {
    padding: 0 0 3px 0;
    border: transparent;
    background-color: transparent;
    color: black;
    opacity: 0.75;
    &:hover {
      text-decoration: none;
      opacity: 1;
      }
  }
  .fa-trash-alt {
    color: #99291F;
  }
}

.admin-global-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.admin-btn-success {
  border: 2px solid rgba(77, 82, 86, 0.25);
  border-radius: 4px;
  color: rgba(77, 82, 86, 0.75);
  display: block;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFFFFF;
  &:hover {
    color: #4E5256;
    border: 2px solid #4E5256;
  }
}

.admin-btn-fix-width {
  text-align: center;
  margin: 10px;
  max-width: 400px;
}

.admin-datepicker {
  border: 1px solid grey;
  box-shadow: 1px 1px 10px grey;
  border-radius: 3px;
  background-color: white;
  padding: 30px !important;
}

.admin-dates-card {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 10px grey;
  background-color: white;
  padding: 10px;
  margin: 5px;
}
#utility_nav {
  width: auto !important;
}
#header {
  white-space: normal !important;
  height: auto !important
}
