<%= content_for(:mail_content) do %>
  <p>Bonjour, <%= @resource.first_name %>!</p>

  <p>Nous vous contactons pour vous notifier que votre mot de passe a bien été changé</p>
<% end %>
<%= render 'layout_mailer_devise' %>
