<%= content_for(:mail_content) do %>
  <p>Bonjour, <%= @resource.first_name %>!</p>

  <p style="margin-bottom: 0px;">Vous avez récemment fait une demande de réinitialisation de votre mot de passe / identifiant.</p>
  <p>Afin de procéder à ce changement, nous vous invitons à cliquer sur le lien ci-dessous :</p>

  <p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token), style: "color: #85C4BF" %></p>

  <p>Si vous n’êtes pas l’auteur de cette demande, nous vous prions de ne pas en tenir compte de ce message.</p>
<% end %>
<%= render 'layout_mailer_devise' %>
