<h1>Mes Mesures</h1>
<p>Pour un résultat optimum, il est nécessaire de procéder à une prise de mesures précise.
Le succès de votre réalisation est lié à cette prise de mesure.</p>
<p>Nous vous accompagnons pas à pas avec notre guide de prise de mesures à télécharger et les vidéos associées mesure par mesure .</p>
<p>Reporter ensuite les mesures dans le tableau de mesure ci-dessous</p>
<p>Nous vous conseillons de vous faire aider par un tiers pour prendre la toalité des mesures..</p>



<%= link_to 'Je prends mes mesures',new_user_measure_path, remote: true %>
<div id="user_measure_form"></div>
