<div class="bg-white section-shadow py-5">
  <div class="container">
    <h1 class="text-green letter-spacing font-weight-light mb-5 hyphen-for-title">Mes Mesures</h1>
    <div class="container-fluid px-4">
      <p>Pour un résultat optimum, il est nécessaire de procéder à une prise de mesures précise.<br>Le succès de votre réalisation est lié à cette prise de mesure.</p>
      <p>Nous vous accompagnons pas à pas avec notre guide de prise de mesures à télécharger et les vidéos<br>associées mesure par mesure.<br>Reporter ensuite les mesures dans le tableau de mesure ci-dessous</p>
      <p>Nous vous conseillons de vous faire aider par un tiers pour prendre la totalité des mesures..</p>

      <div class="row my-5 text-center">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="frame-60px bg-green circle mx-auto d-flex align-items-center justify-content-center"><i class="far fa-2x fa-play-circle text-white"></i></div>
          <p class="mb-0">Je visionne</p>
          <p class="mb-0">les instructions</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="frame-60px bg-green circle mx-auto d-flex align-items-center justify-content-center"><i class="fas font-size-24px fa-download text-white"></i></div>
          <p class="mb-0">Je télécharge</p>
          <p class="mb-0">mon guide de </p>
          <p class="mb-0">prise de mesures</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="frame-60px bg-green circle mx-auto d-flex align-items-center justify-content-center"><i class="fas font-size-24px fa-ruler text-white"></i></div>
          <p class="mb-0">Je prends</p>
          <p class="mb-0">mes mesures</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="frame-60px bg-green circle mx-auto d-flex align-items-center justify-content-center"><i class="far font-size-24px text-white fa-list-alt"></i></div>
          <p class="mb-0">Je reporte</p>
          <p class="mb-0">mes mesures</p>
          <p class="mb-0">dans le tableau</p>
        </div>
      </div>
      <div class="px-4 row">
        <div class="col-12 col-sm-6 mb-5">
          <div class="video-frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/S1mCMYdo9Sw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center mb-5">
          <a href="" class="button-large-green text-center p-3" >Mon guide<br>de<br>prise de mesures<br>(PDF)</a>
        </div>
      </div>
      <div class="d-none d-sm-block">
        <div class="text-center"><%= link_to 'Je prends mes mesures',edit_user_path(current_user), class: "font-size-18px button-large-green", remote: true %></div>
      </div>
      <div class="d-block d-sm-none">
        <div class="text-center"><%= link_to 'Mes mesures',edit_user_path(current_user), class: "font-size-18px button-large-green", remote: true %></div>
      </div>
    </div>
  </div>
  <div id="user_measure_form" class="mt-5"></div>

</div>
