<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <div style="background-color:#FFF;max-width:600px;margin:0 auto;padding:0 30px">
      <%= image_tag 'logo-ludoria.png', style: 'height:80px;', alt: 'Logo' %>
    </div>
    <div style="background-color:#85C4BF; max-width:600px;padding:15px;margin:0 auto; border-radius: 5px">
      <div style="background-color:#FFF;color:#3D7296;margin: 0px; padding:30px; border-radius: 5px">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
